@tailwind base;
@tailwind components;
@tailwind utilities;

.general-navbar {
  width: 15% !important;
}

.general-content {
  width: 85% !important;
}

.navbar-brand-img {
  width: 160px;
  height: 42px;
}

table.basic {
  @apply w-full bg-white rounded-lg shadow-md overflow-hidden;
}

table.basic thead tr {
  background-color: black;
}

table.basic thead tr td {
  color: white !important;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}
table.basic tr td {
  @apply px-4 py-1;
}

table.basic tr:nth-child(even) {
  background-color: #e5e7eb;
}

table.basic a {
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}
.btn-red {
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}
.btn-default {
  @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}

.cancel-delete-button {
  border: 2px solid black;
  padding: 4px;
  border-radius: 50px;
  font-weight: 600;
}

.cancel-delete-button:hover {
  color: white;
  background-color: black;
}

.delete-button {
  color: red;
  border: 2px solid red;
  padding: 4px;
  border-radius: 50px;
  font-weight: 600;
}

.delete-button:hover {
  color: white;
  background-color: red;
}

.image-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.add-image {
  width: 200px;
}
